.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 2 * var(--app-layout-section-margin));
  height: calc(100vh - 2 * var(--app-layout-section-margin));
  margin: var(--app-layout-section-margin);
  overflow: hidden;
}
.app > h1 {
  flex: none;
  color: lightslategray;
}

.app__demos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: var(--app-layout-gap-section);
  overflow: hidden;
}
.app__demos > * {
  margin-bottom: var(--app-layout-gap-section);
}
.app__demos > *:last-child {
  margin-bottom: 0;
}

.app__demos__selector {
  flex: none;
  display: flex;
  justify-content: center;
}
.app__demos__selector > label {
  margin: var(--app-layout-gap-comp);
}
.app__demos__selector > label > input {
  margin-right: var(--app-layout-gap-el);
}

.app__demos__demo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
}
.app__demos__demo-box > h2 {
  flex: none;
  color: lightblue;
  font-family: var(--app-font-family-monospace);
  margin-bottom: var(--app-layout-gap-section);
}
.app__demos__demo-box > *:not(h2) {
  border: 1px dotted var(--app-color-border-1);
}
