@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  /**
   * COLORS
   */

  --app-color-text: #121212;

  /**
   * FONTS
   */

  --app-font-family-default: 'Open Sans', sans-serif;
  --app-font-family-monospace: monospace;

  --app-font-weight-normal: 400;
  --app-font-weight-semibold: 600;
  --app-font-weight-bold: 700;

  --app-font-size-text: 16px;

  /**
   * LAYOUT
   */

  /* unit of measure */
  --app-layout-unit: 4px;
  /* gap between related visual elements within a component */
  --app-layout-gap-el: var(--app-layout-unit);
  /* gap between components in a view */
  --app-layout-gap-comp: calc(var(--app-layout-gap-el) * 2);
  /* gap between sections of content within a view */
  --app-layout-gap-section: calc(var(--app-layout-gap-comp) * 2);

  /* margin around sections within views */
  --app-layout-section-margin: var(--app-layout-gap-section);
  /* margin around views */
  --app-layout-view-margin: calc(var(--app-layout-section-margin) * 2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--app-font-family-default);
  font-size: var(--app-font-size-text);
  background-color: white;
  color: var(--app-color-text);
}

h1 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
}

h2 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
}

h3 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
}

h4 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
}

h5,
h6 {
  cursor: default;
  font-style: italic;
}

p {
  cursor: default;
}

pre,
code {
  cursor: default;
  font-family: var(--app-font-family-monospace);
}

strong {
  font-weight: var(--app-font-weight-bold);
}
